*{
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    border: none;
     
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -box-sizing: border-box;
  }
  /*
*======================
* stilo template
*======================
*/

#principal{
    position:fixed;
    float: left;
    width: 220px;
    width: 100%;
    background: #E9556A; 
    border-right: 1px solid #e9e9e9;
    box-shadow: 0 0 15px rgba(0, 0,0,.15)
     


}
 #principal ul,
 #principal ul li{
     float: left;
     width: 100%;
 }
 #principal ul li a{
    float: left;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid  #e9e9e9;
 }
 #principal ul li a i{
    float: left;
    width: 80px;
    height: 80px;   
 }
 #principal ul li a h3{
    float: left;
    width: 80px;
    height: 80px; 
    font: .8em 'Russo One',cursive;  
 }
